.language-heading{
    display: block;
    width: 40px;
    height: 40px;
}

.language-heading button{
    
    border: initial;
    /*font-size: 25px; */
    cursor: pointer;
    /*color: white;*/
    padding-block: initial;
    padding-inline: initial;
    width: 40px;
    height: 40px;
}

.language-heading-content a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: right;
}

.language-heading .language-heading-content {
    display: none;
    position: relative;
    background-color: hsl(271, 76%, 69%);
    max-width: 40px;
    padding: 0px 2px 0px 2px;
    /*box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);*/
}

.language-heading:hover .language-heading-content {
    display: block;
}

.language-heading-content a:hover {
    color:#ffd900;
}

.language-heading-content a:active {
    color:#69fca6;
 }

.language-heading-img-off {
    display: block;
    height: 40px;
    width: 40px;
}

.language-heading-img-on {
    display: none;
    height: 40px;
    width: 40px;
}

.language-heading-button:hover .language-heading-img-off {
    display: none;
    height: 40px;
    width: 40px;
}

.language-heading-button:hover .language-heading-img-on {
    display: block;
    height: 40px;
    width: 40px;
}

.menu-button {
    padding: 0px 230px 0px 20px;
    cursor: pointer;
}

.menu-button-1 {
    padding: 0px 10px 0px 20px;
    color: #ffd900;
}

.menu-drop-down-button {
    display: inline-block;
    padding: 0px 300px 0px 10px;
}

.menu-drop-down-button .menu-drop-down-button-content {
    display: none;
    position: absolute;
    /* background-color: #ffd900; */
    min-width: 100px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
}

.menu-drop-down-button:hover .menu-drop-down-button-content {
    display: block;
}

.menu-drop-down-button button {
    background-color: transparent;
    font-size: 16px;
    border: none;
    color: #ffd900;
    cursor: pointer;
    text-decoration: underline;
}

.menu-drop-down-button:hover button {
    color: white;
}

.menu-drop-down-button a {
    display: block;
    text-decoration: none;
    font-size: 16px;
}

.menu-drop-down-button a:hover {
    color: white;
}

.menu-drop-down-button a:active {
    color: #69fca6;
}















.language-drop-down-bar-button-EN{
    display: inline-block;
}

.language-drop-down-bar-button-EN button{
    background-color: hsl(271, 76%, 53%);   
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: white;

}

.language-drop-down-bar-button-EN a{
    display: block;
    color: white;
    text-decoration: none;
}

.language-drop-down-bar-button-EN .language-bar-button-content-EN{
    display: none;
    position: absolute;
    background-color: hsl(271, 76%, 69%);
    max-width: 45px;
    padding: 9px 9px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
}

.language-drop-down-bar-button-EN:hover .language-bar-button-content-EN{
    display: block;
}

.language-drop-down-bar-button-EN:hover button{
    background-color: hsl(271, 76%, 39%);
}

.language-drop-down-bar-button-EN a:hover{
color:#ffd900;

}

.language-drop-down-bar-button-EN a:active{
    color:#69fca6;
}



