body {
  background-color: blueviolet;
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: brightness(30%);
}

.nav-bar {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  float: left;
  margin-right: 0px;
  cursor: pointer;
  /* background-color: red; */
}

.boat-heading {
  text-decoration: none;
}

.boat-heading-img {
  width: 55px;
  margin-bottom: -15px;
  padding-right: 15px;
}

.boat-heading-h1 {
  font-size: 2.125rem;
  font-weight: bold;
  color: #ffd900;
  width: fit-content;
  padding-right: 1150px;
}

.boat-heading-h1:hover {
  color:white;
}

.boat-heading-h1:active {
  color:#69fca6;
}

.sitemap-heading {
  cursor: pointer;
}

.sitemap-heading-img-off {
  display: block;
  width: 40px;
  height: 40px;
}

.sitemap-heading-img-on {
  display: none;
  width: 40px;
  height: 40px;
}

.sitemap-heading:hover .sitemap-heading-img-off { 
  display: none;
  width: 40px;
  height: 40px;
} 

.sitemap-heading:hover .sitemap-heading-img-on { 
  display: block;
  width: 40px;
  height: 40px;
}  

.language-heading-button {
  font-size: 20px;
  margin-bottom: 3px;
}

.main-title {
  text-align:center;
  position: fixed;
  top: 55px;
  left: 120px;
  width: 1500px;
}

.main-title-h1 {
  margin: 0px 0px 0px 0px;
  color: #ffd900;
}

.nav-menu {
  position: fixed;
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* justify-content: space-around; */
  top: 95px;
  left: 285px;
  width: 1350px;
  /* background-color:#ffd900; */
  height: 20px;
}

.nav-menu a {
color: #ffd900;
}

.nav-menu a:hover {
color: white;
}

.nav-menu a:active {
color: #69fca6;
}

.service-container {
  width:100%;
  display: grid; 
  background: transparent;
  color: white;
  padding: 15px;
  top: 18%;
  left: 30px;
  width: 95%;
  height: 70%;
  overflow-y: scroll;
  border: 1px solid white;
  border-radius: 25px;
  position: absolute;
}

.main-footer {
  /* background-color:#FFA500; */
  clear:both;
  text-align:left;
  position: absolute;
  margin-top: 800px;
}

.main-footer-text {
  color: #ffd900;
  margin-left: 695px;
}

.main-footer-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  margin-top: 10px;
  margin-left: 750px;
/* padding-bottom: 20px; */
}

.footer-image img {
  flex: 1;
  max-width: 88px;
  max-height: 31px;
  margin-left: 10px;
}

#footer-image-special-logo img {
  max-width: 106px;
  background-color: white;
}

.resize { 
  width: 400px;  
  height: 400px;  
  object-fit: cover; /* Ensures images maintain aspect ratio and fill the container */ 
}











.navbar-ul-tc{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color:#ffd900;
  height: 30px;
  margin-top: 30px;
}

.navbar-ul-sc{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color:#ffd900;
  height: 30px;
  margin-top: 30px;
}

.navbar-ul-tc a:hover{
color: green;
}

.navbar-ul-tc a{
color: #0000d7;
}

.navbar-ul-tc a:active{
color: red;
}

.navbar-ul-sc a:hover{
color: green;
}

.navbar-ul-sc a{
color: #0000d7;
}

.navbar-ul-sc a:active{
color: red;
}

.bar-button{
  text-decoration: none;
}

.bar-button a{
  flex:1;
}

.bar-button-tc{
  text-decoration: none;
}

.bar-button-tc a{
  flex:1;
}

.bar-button-sc{
  text-decoration: none;
}

.bar-button-sc a{
  flex:1;
}

.paragraph{
text-align: left;
border: solid #228cb6;
color:#ffd900;
background-color: #228cb6;
font-weight: bold;
padding: 5px 20px;
}

.language-EN{
font-size: 25px;
margin-bottom: 3px;
}

.h1-heading{
font-size: 2.125rem;
font-weight: bold;
color: #ffd900;
}

.h1-heading:hover{
  color: white;
}

.h1-heading:active{
  color:#69fca6;
}

.sitemap-list{
  text-align: left; 
  font-size:2.5rem; 
  margin-left: 10%;
  list-style: none;
}

.sitemap-list li a{
  text-decoration: none;
  color:#ffd900;;
}

.sitemap-list li a:hover{
color: white;
}

.sitemap-list li a:active{
  color:red;
}

.sitemap-list li{
  color:#ffd900;;
  list-style: none;
}

.sitemap-list li::before{
content: "🛥️🌊";
margin-right: 40px;
}
