* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}  

.container {
     display: flex;
}

p {
    padding: 2rem;
}

main {
    container-type: inline-size;
    container-name: MX;
    width: 100%;
    margin: 30px auto;
    padding: 20px;
}

main p {
    background: green;
}

aside {
    container-type: inline-size;
    container-name: AX;
    flex: 0 0 30%;
    background: orange;
    padding: 20px;
}

@container MX (max-width: 992px) {
    main p {
        background: lightblue;
    }
}

@container AX (max-width: 300px) {
    aside p {
        background: lightgreen;
    }
}