* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 0 20px;
}

p {
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: 5px;
}

p::first-letter {
    color: purple;
    font-size: 2rem;
    padding-right: 2px;
    font-weight: bold;
}

p::first-line {
    color: rebeccapurple;
}

p::selection {
    color: red;
    background: yellow;
}

input:required {
    border-color: red;
}

input::placeholder {
    color: purple;
    font-weight: bold;
}

input::file-selector-button {
    font-weight: bold;
    color: lightblue;
    background: #fff;
    padding: 0.5rem;
    border: thin solid gray;
    border-radius: 3px;
}

li::marker {
    content: "🤦🏻";
}