/* =================
    Global variables
    ================= */
    :root {
        /* Your Theme color */
        --clr-primary-1: #f4fce9;
        --clr-primary-2: #e7f8cf;
        --clr-primary-3: #cff1a5;
        --clr-primary-4: #afe670;
        --clr-primary-5: #90d645;
        --clr-primary-6: #6bb224;
        --clr-primary-7: #56961a;
        --clr-primary-8: #437219;
        --clr-primary-9: #375b19;
        --clr-primary-10: #314d1a;
        
        /* define gray shade */
        --clr-gray-1: #ededed;
        --clr-gray-2: #dfdfdf;
        --clr-gray-3: #c9c9c9;
        --clr-gray-4: #adadad;
        --clr-gray-5: #999999;
        --clr-gray-6: #888888;
        --clr-gray-7: #7b7b7b;
        --clr-gray-8: #676767;
        --clr-gray-9: #545454;
        --clr-gray-10: #363636;
        
        /* others */
        --clr-white: #fff;
        --ff-primary: "Roboto", sans-serif;
        --transition: all 0.3s linear;
        --spacing: 0.25rem;
        --radius: 0.5rem;
        --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
        --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
        /* --navbar-Height: 4rem; * //*try */
    }
    
/* =================
    Global Settings
    ================= */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
    
    html {
        /* set the scroll action smoothly */
        scroll-behavior: smooth;
    }
    
    body {
        font-family: var(--ff-primary);
        background-color: var(--clr-white);
        color: var(--clr-gray-10);
        line-height: 1.5;
        font-size: 0.875rem;
    }
    
    ul {
        list-style-type: none;
        display: flex;
    }
    
    a {
        text-decoration: none;
    }
   
    h2 {
        font-size: 2.5rem;
        letter-spacing: var(--spacing);
    }

/* =================
    Hero section 1
    ================ */
    
       @media (min-width:768px) {
        .hero {
            display: flex;
            height: 85vh;
            width: 98vw;
            /* width: 100%; */
            background: linear-gradient(var(--clr-primary-6), rgba(0, 0, 0, 0.7)), url("/class_example/static_page/images/about-us.jpg") center/cover no-repeat;
            margin-top: 4rem;
        }
        
        .hero-banner {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* padding: 20px auto; */
        }
        
        .hero-banner h1 {
            color: var(--clr-white);
            text-transform: capitalize;
            font-size: 6vw;
            /* margin: 0, auto; */
        }
        
        .hero p {
            color: var(--clr-white);
            margin: 10px;
        }
        
        .btn {
            text-transform: uppercase;
            background: var(--clr-primary-5);
            /* color: var(--clr-white); */
            padding: 0.375rem 0.75rem;
            letter-spacing: var(--spacing);
            display: inline-block;
            transition: var(--transition);
            border: 2px solid transparent;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0,0,0,0.3);
            border-radius: var(--radius);
        }
        
        .btn:hover {
            color: var(--clr-primary-9);
            background: var(--clr-primary-2);
        }
    }

    @media (max-width:768px) {

        .hero {
            display: flex;
            height: 85vh;
            width: 98vw;
            background: var(--clr-primary-6);
            margin-top: 4rem;
        }

        .hero-banner{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .hero-banner h1 {
            color: var(--clr-white);
            text-transform: capitalize;
            font-size: 6vw;
        }
        
        .hero p {
            color: var(--clr-white);
            margin: 10px;
            /* font-size: 2.5vw; */
        }

        .btn {
            /* font-size: 0.6rem; */
            text-transform: uppercase;
            background: var(--clr-primary-5);
            /* color: var(--clr-white); */
            padding: 0.375rem 0.75rem;
            letter-spacing: var(--spacing);
            display: inline-block;
            transition: var(--transition);
            border: 2px solid transparent;
            cursor: pointer;
            box-shadow: 0 1px 3px #0000004d;
            border-radius: var(--radius);
        }

        .btn:hover {
            color: var(--clr-primary-9);
            background: var(--clr-primary-2);
        }
    }    
   



/* =================
    Common Section (s)
    ================= */
    
    .section {
        padding: 5rem, 0;
        scroll-margin-top: 4rem;
    }
    .section-title {
        text-align: center;
        margin-bottom: 4rem;
    }
    .section-title h2 {
        text-transform: uppercase;
        color: var(--clr-primary-9);
    }
    .section-title span {
        color: var(--clr-primary-6);
    }
    .section-center {
        width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        overflow: hidden;
    }
    @media(min-width:768px) {
        .about-photo {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .about-info {
            margin-bottom: 10px;
            h3 {
                text-transform: uppercase;
            }
            p {
                margin-bottom: 20px;
            }   
        }
    
        .about-img {
            position: relative;
        }
    
        .about-img::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: 0.5rem solid var(--clr-primary-5);
            box-sizing: border-box;
            top: -1.5rem;
            left: -1.5rem;
        }
    }
    @media(max-width:768px){
        .about-center{
            max-width: 768px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
        }
        .about-photo{
            width: 100%;
            height: 75%;
        }
        .about-info {
            margin-bottom: 10px;
            h3 {
                text-transform: uppercase;
            }
            p {
                margin-bottom: 20px;
            }
        }
    }
    
/* ==========
    service
    ========== */
    @media(min-width:768px){
    
        .section-center.services-center {
            display: flex;
            margin-bottom: 4rem;
        }           

        article.service {
            width: 33.3%;
            display: flex;
            justify-content: space-between;
        }
        
        .service-icon {
            display: inline-block;
            font-size: 2rem;
            background-color: var(--clr-primary-5);
            color: var(--clr-primary-10);
            padding: 0.5rem;
            height: 4rem;
        }
        
        .service-info {
            margin-left: 5px;
            font-size: 0.75rem;
        }
    }

    @media(max-width:768px){

        .section-center.services-center {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 4rem;
        }

        .service-icon {
            display: inline-block;
            font-size: 2rem;
            background-color: var(--clr-primary-5);
            color: var(--clr-primary-10);
            padding: 0.5rem;
            height: 4rem;
            margin-bottom: 10px;
        }

        .service-info {
            margin-bottom: 20px;
            font-size: 1rem;
            h4 {
            margin-bottom: 10px;
            }
        }
    }


/* =============tour================= */
    @media(min-width:768px){
        .section-center.featured-center{
            display: flex;
            flex-wrap: wrap;
            /* gap: 8px; */
            max-width: 1170px;
            justify-content: space-between;
        }
        .tour-card{
            width: 30%;
            /* width: 350px; */
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            transition: var(--transition);
            background: var(--clr-gray-1);
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            max-width: 1170px;
            margin-bottom: 20px;
        }
        .tour-card:hover{
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            transform: scale(1.02);
        }
    
        .tour-img-container{
            flex: 1 0 30%;
            position: relative;
            height: 13rem;
        }
        .tour-img{
            width: 100%;
            height: auto;
        
        }
        .tour-date{
            position: absolute;
            right: 0;
            bottom: 0;
            background: var(--clr-primary-3);
            color: var(--clr-gray-9);
            text-transform: capitalize;
            padding: 0.25rem 0.5rem;
            font-size: 0.75rem;
        }
        .tour-info{
            padding: 1.25rem 1.5rem;
        }
        .tour-footer{
            margin-top: 10px;
        }
        .tour-footer-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    
        .tour-footer-info li{
            text-transform: capitalize;
            color: var(--clr-primary-5);
            font-size: 0.75rem;
        }
    }

    @media (max-width:768px) {
        .section-center.featured-center{
            display: flex;
            flex-direction: column;
            /* max-width: 1170px; */
    
        }

        .tour-card{
            width: 98%;
            /* width: 350px; */
            display: flex;
            flex-direction: column;
            transition: var(--transition);
            background: var(--clr-gray-1);
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            max-width: 1170px;
            margin-bottom: 20px;
        }

        .tour-card:hover{
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
            transform: scale(1.02);
        }
    
        .tour-img-container{
            flex: 1 0 30%;
            position: relative;
            height: calc(100vh - 4rem - 12rem);
        }

        .tour-img{
            width: 100%;
            height: auto;
        }

        .tour-date{
            position: absolute;
            right: 0;
            bottom: 5px;
            background: var(--clr-primary-3);
            color: var(--clr-gray-9);
            text-transform: capitalize;
            padding: 0.25rem 0.5rem;
            font-size: 0.75rem;
        }

        .tour-info{
            padding: 1.25rem 1.5rem;
        }

        .tour-footer{
            margin-top: 10px;
        }

        .tour-footer-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        
        }
    
        .tour-footer-info li{
            text-transform: capitalize;
            color: var(--clr-primary-5);
            font-size: 0.75rem;
        }
    }

/*  ===========
    footer
    ============= */

    .footer {
        background: var(--clr-gray-10);
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer-links, 
    .footer-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        flex-wrap: wrap;
    }

    .footer-link {
        color: var(--clr-white);
        text-transform: capitalize;
        font-size: 1rem;
        margin-right: 1rem;
        letter-spacing: var(--spacing);
        transition: var(--transition);
    }

    .footer-link:hover {
        color: var(--clr-primary-5);
    }

    .footer-icon {
        font-size: 2rem;
        margin-right: 1rem;
        color: var(--clr-white);
        transition: var(--transition);
    }

    .footer-icon:hover {
        color: var(--clr-primary-5);
    }

    .copyright {
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        color: var(--clr-white);
    }

    .copyright span {
        margin-left: 0.5rem;
    }

/* =================
    Navbar
    ================ */
    .navbar {
        /* fixed the navbar at the top of the page */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--clr-white);
        box-shadow: var(--dark-shadow);
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }
    
    /* logo container */
    .nav-logo {
        width: 35px;
        height: 35px;
        margin: 40px;
    }
    
    .nav-list {
        display: flex;
    }
    
    .nav-link {
        margin: 10px;
        text-transform: capitalize;
        color: var(--clr-primary-6);
    }
    
    .nav-link:hover {
        color: var(--clr-primary-8);
    }
    
    .nav-icon-list {
        display: flex;
        margin: 40px;
    }
    
    .nav-icon {
        font-size: 1.3rem;
        margin: 5px;
        color: var(--clr-primary-8);
    }
    
    .nav-icon:hover {
        color: var(--clr-primary-8);
    }
    
    img.logo-link {
        width: 100%;
    }
    
    /* .nav-mobile {
        display: none;
    } */
    
    /* .nav-toggle {
        margin: 30px;
        width: 35px;
        height: 35px;
        border: none;
        background: none;
        cursor: pointer;
    } */

    /* mobile section */
    /* link list ul */

    /* burger mobile button */
    .nav-mobile-toggle {
        cursor: pointer;
    }
    
    /* .mobile-nav-list.active {
        transform: translateX(0);
    } */

    @media (min-width: 768px) {
        .nav-mobile {
            display: none;
        }
    }

    @media (max-width: 768px) {

        /* navbar */
        .nav-list {
            display: none;
        }

        .nav-icons {
            display: none;
        }

        .nav-mobile {
            display: block;
        }

        .fa-bars {
            font-size: 1.5rem;
            width: 100%;
            color: var(--clr-primary-6);
        }

        .nav-mobile-toggle {
            margin: 40px;
            width: 40px;
            height: 40px;
            border: none;
            background-color: var(--clr-white);
        }

        .mobile-nav-list {
            position: fixed;
            top:4rem;
            right: -100%;
            width: 100%;
            height: calc(100vh - 4rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* height: 100%; */
            padding-top: 30px;
            gap: 2rem;
            font-size: 1.2rem;
            /* margin-top: 4rem; */
            text-align: center;
            transition: var(--transition);
            transform: translateX(100%);
        }

        .mobile-nav-list.active {
            /* transform: translateX(100%); */
            position: fixed;
            top: 4rem;
            transform: translateX(0);
            bottom: 0;
            right: 0;
            width: 100%;
            background: var(--clr-primary-2);
            text-align: center;
            display: flex;
            flex-direction: flex-column;
            align-items: center;
            opacity: 0.6;
        }
        .mobile-nav-link:hover{
            display: block;
            color: var(--clr-primary-9);
            background: var(--clr-primary-5);
            cursor: pointer;
        }
    }
        
        